@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*
{
  margin: 0;
  padding: 0;
}

body
{
  font-family: "League Gothic", sans-serif;
}

/* Header */

.header
{
  text-align: center;
  background: url("../img/background.jpg") 50% no-repeat;
  background-size: cover;
}

.header__name
{
  color: #fff;
  font-size: 48px;
  font-weight: 100;
  padding-top: 60px;
  padding-bottom: 12px;
  letter-spacing: -0.5px;
  text-shadow: 0 2px rgba(0, 0, 0, 0.3);
}

.header__name__span
{
  background-image: linear-gradient(to top, #322539, #745083);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

.header__nav
{
  position: absolute;
  width: 244px;
  left: 50%;
  margin-left: -122px;
  z-index: 6;
}

.header__list-item
{
  list-style: none;
}

.header__list-item
{
  list-style: none;
  border-top: 1px solid rgba(105, 82, 114, 0.59);
  border-bottom: 1px solid rgba(53, 39, 61, 0.9);
  background: rgba(54, 41, 62, 0.9);
}

.header__list-item--5
{
  border-radius: 0 0 10px 10px;
}

.header__list-item--wrapper
{
  width: 100%;
  margin: 0 auto;
  border: 1px solid transparent;
  background: transparent;
  position: relative;
}

.header__list-item--wrapper:hover
{
  border-radius: 10px 10px 0 0;
  height: 48px;
  border: 1px solid rgba(5, 17, 22, 0.9);
  border-bottom: 1px solid rgba(53, 39, 61, 0.9);
  background: rgba(54, 41, 62, 0.9);
  box-shadow: inset 0 1px 1px rgba(109, 80, 122, 0.9);
}

.header__list-item__link
{
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  display: block;
  padding: 5px;
  letter-spacing: 0.05px;
  border-bottom: 1px solid transparent;
}

.header__list-item__link--4
{
  padding: 5px 4px 7px;
}

.header__list-item__link--5
{
  padding: 3px 5px 6px;
}

.header__list-item__link:hover
{
  background: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #edbfff;
}

.header__list-item__link--glow
{
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.6);
  padding: 10px 5px 2px;
  display: inline-block;
  background: none;
  border-bottom: 1px solid #edbfff;
}

.header__list-item__link--glow:hover
{
  background: none;
}

.header__list--dropdown
{
  opacity: 0;
  display: none;
  position: absolute;
  width: 100%;
  height: 210px;
  top: 46px;
  left: -1px;
  border-radius: 0 0 10px 10px;
  border: 1px solid rgba(5, 17, 22, 0.9);
  border-top: none;
}

.header__list-item:hover .header__list--dropdown
{
  display: block;
  opacity: 1;
}

.header__nav__inline
{
  display: none;
}

/* Slider */

.slider
{
  margin-top: 161px;
  padding-bottom: 65px;
}

.slider__content
{
  font-size: 0;
  width: 320px;
  margin: 0 auto;
}

.slider__content__arrow
{
  display: inline-block;
  height: 48px;
  width: 28px;
  background: url("../img/slider-arrows.png") 120% 0 no-repeat;
}

.slider__content__arrow--right
{
  background: url("../img/slider-arrows.png") -20% 105% no-repeat;
}

.slider__text-block
{
  display: inline-block;
  padding: 0 24px;
}

.slider__text-block__header
{
  color: #fefefe;
  font-size: 36px;
  font-weight: 100;
  letter-spacing: -0.2px;
  text-indent: -9px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

.slider__text-block__subheader
{
  color: #edbfff;
  font-size: 19px;
  font-weight: 100;
  letter-spacing: -0.3px;
  text-indent: 13px;
  line-height: 13px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  width: 216px;
  overflow: hidden;
  white-space: nowrap;
}

.slider__text-block__paragraph
{
  display: none;
}

.slider__photo-block
{
  display: none;
}

.slider__content__switcher
{
  margin: 81px auto 0;
  display: inline-block;
  padding-left: 9px;
}

.slider__content__switcher--white
{
  margin: 24px auto 0;
  padding-left: 141px;
}

.slider__content__switcher__button
{
  background: url("../img/slider-buttons.png") 0 0 no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 1px;
  transition: background 0.5s;
}

.slider__content__switcher__button--white
{
  background: url("../img/slider-buttons.png") 0 60% no-repeat;
}

.slider__content__switcher__button:hover
{
  background: url("../img/slider-buttons.png") 0 28% no-repeat;
}

.slider__content__switcher__button--white:hover
{
  background: url("../img/slider-buttons.png") 0 92% no-repeat;
}

/* About */

.about
{
  background-image: linear-gradient( to top, #322539, #745083);
  border-top: 1px solid #33253a;
  border-bottom: 1px solid #1d2f37;
  box-shadow: inset 0 -1px #0d151b, 0 0px 3px rgba(0, 0, 0, 0.5);
}

.about__wrapper
{
  width: 320px;
  margin: 0 auto;
  padding: 67px 0 43px;
  overflow: hidden;
}

.about__article
{
  overflow: hidden;
  padding-bottom: 7px;
}

.about__article--higher
{
  padding-bottom: 23px;
}

.article__icon
{
  float: left;
  height: 35px;
  width: 35px;
  margin-left: 29px;
  background: url("../img/article-sprites.png") -5px -3px no-repeat;
}

.article__text-block
{
  float: left;
  width: 234px;
  margin-left: 20px;
}

.article__text-block__header
{
  color: #fff;
  font-size: 24px;
  letter-spacing: -0.1px;
  text-shadow: 1px 1px #0f1518;
  font-weight: 100;
}

.article__text-block__paragraph
{
  color: #fff;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
  letter-spacing: -0.4px;
  width: 210px;
  height: 72px;
  text-shadow: 1px 1px #0f1518;
  text-overflow: clip;
  word-break: break-word;
  overflow: hidden;
}

.article__text-block__link
{
  color: #fff;
  font-size: 18px;
  margin-left: 156px;
  line-height: 49px;
  text-decoration: none;
  transition: 0.3s;
}

.article__text-block__link:hover
{
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

/* News */

.news
{
  background: #f9f9f9;
  box-shadow: 0 0px 30px #000;
  box-shadow: inset 0 10px 15px -10px black;
}

.news__wrapper
{
  margin: 0 auto;
  padding: 71px 0 87px;
  overflow: hidden;
  border-bottom: 1px solid #e6e6e6;
}

.news__wrapper--sponsors
{
  border: none;
  padding: 52px 0 40px;
}

.news__testimonials
{
  padding-bottom: 40px;
  width: 320px;
  margin: 0 auto;
}

.news__testimonials__body
{
  position: relative;
  overflow: hidden;
}

.news__testimonials__body__img
{
  position: absolute;
  left: 21px;
  top: 17px;
}

.news__testimonials__body__text-block
{
  float: right;
  width: 258px;
  margin-right: 17px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.news__testimonials__body__text-block__header
{
  color: #454545;
  font-size: 24px;
  text-transform: uppercase;
  margin: 21px 0 0 37px;
  font-weight: 100;
}

.news__testimonials__body__text-block__header--colored
{
  color: #edbfff;
  margin-top: -5px;
  margin-left: 37px;
}

.news__testimonials__body__text-block__paragraph
{
  color: #454545;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 100;
  margin: 2px 38px 27px;
  word-break: break-word;
  line-height: 24px;
  letter-spacing: -0.35px;
  height: 168px;
  overflow: hidden;
}

.news__testimonials__body__background-tail
{
  display: none;
}


.blog
{
  width: 320px;
  margin: 0 auto;
}

.blog__header
{
  font-size: 30px;
  margin-left: 20px;
  letter-spacing: -0.05px;
  font-weight: 500;
}

.blog__body
{
  overflow: hidden;
  margin-top: 13px;
  margin-bottom: 14px;
}

.blog__body__post
{
  display: block;
  overflow: hidden;
  margin-left: 20px;
}

.blog__body__post--02
{
  margin-top: 15px;
}

.blog__body__post--03
{
  margin-top: 21px;
}

.blog__body__post__img
{
  float: left;
  height: 50px;
  width: 50px;
  background: url("../img/blog-img.png")
}

.blog__body__post__img--post-02
{
  background-position: 0 -51px;
}

.blog__body__post__img--post-03
{
  background-position: 0 -103px;
}

.blog__body__post__text-block
{
  float: left;
  color: #454545;
  margin-left: 17px;
  line-height: 23px;
  margin-top: 1px;
  overflow: hidden;
  width: 216px;
  white-space: nowrap;
}

.blog__body__post__text-block__header
{
  font-weight: 900;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 0.85px;
  width: 155px;
  overflow: hidden;
}

.blog__body__post__text-block__paragraph
{
  font-weight: 200;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: -0.42px;
}

.blog__more-blog-posts
{
  color: #454545;
  font-size: 18px;
  text-decoration: none;
  margin-left: 208px;
}

.blog__read-more-here
{
  display: none;
}

.sponsors__wrapper
{
  margin: 0 auto;
  width: 295px;
  overflow: hidden;
}

.sponsors__link
{
  float: left;
  height: 80px;
  width: 105px;
  margin: 0 0 30px 30px;
  background: url("../img/sponsors-sprites.png") 0 0 no-repeat;
}

.sponsors__link--billabong
{
  background-position: 20px 0px;
}

.sponsors__link--dc
{
  background-position: -99px 0px;
}

.sponsors__link--tree
{
  background-position: -191px 15px;
}

.sponsors__link--awsm
{
  background-position: 23px -70px;
}

.sponsors__link--rvca
{
  background-position: -219px -74px;
}

.sponsors__link--vonzipper
{
  background-position: -84px -73px;
}

/* Prefooter */

.prefooter
{
  display: none;
}

.prefooter__wrapper
{
  width: 480px;
  margin: 0 auto;
  padding: 49px 0 61px;
}

.prefooter__article-block
{
  padding: 27px 0;
}

.prefooter__article-block--pigbuller
{
  display: none;
}

.prefooter__article-block--recent-comments
{
  display: none;
}

.prefooter__article-block__header
{
  font-size: 24px;
  color: #454545;
  margin: 0 19px;
  font-weight: 100;
}

.prefooter__article-block__header--pigbuller
{
  font-size: 48px;
}

.prefooter__article-block__header--colored
{
  color: #b9b9b9;
}

.prefooter__article-block__subheader
{
  font-family: Georgia, sans-serif;
  font-style: italic;
  font-size: 16px;
  color: #c5c5c5;
}

.prefooter__article-block__paragraph
{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #787878;
  height: 95px;
  overflow: hidden;
  word-break: break-word;
  margin: 8px 22px 0 19px;
  line-height: 24px;
  letter-spacing: -0.4px;
}

/* Footer */

.footer
{
  background: url("../img/background-footer.jpg") 50% no-repeat;
  background-size: cover;
  box-shadow: inset 0 10px 15px -10px black;
}

.footer__wrapper
{
  width: 320px;
  height: 182px;
  margin: 0 auto;
  text-align: center;
}

.nav__inline
{
  display: none;
}

.footer__wrapper__signature
{
  color: #fff;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  letter-spacing: -0.2px;
  margin-top: 20px;
  display: inline-block;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.footer__wrapper__signature--bold
{
  font-weight: 600;
  margin-left: 0px;
  letter-spacing: 0.5px;
}

@media screen and (min-width: 321px) {

  .slider
  {
    margin-top: 72px;
    padding-bottom: 100px;
  }

  .slider__content__wrapper
  {
    background: rgba(0, 0, 0, 0.2);
  }

  .slider__content
  {
    width: 480px;
    overflow: hidden;
  }

  .slider__content__arrow
  {
    float: left;
    margin-top: 99px;
  }

  .slider__photo-block
  {
    display: inline-block;
    position: absolute;
    left: 256px;
    top: 194px;
    z-index: 5;
  }

  .slider__photo
  {
    height: 303px;
  }

  .slider__text-block
  {
    padding: 89px 208px 39px 0;
    float: left;
  }

  .slider__text-block__header
  {
    text-indent: -10px;
  }

  .slider__text-block__subheader
  {
    text-indent: 11px;
    height: 73px;
    line-height: 16px;
  }

  .slider__content__switcher
  {
    margin-top: 21px;
    z-index: 8;
    left: 627px;
    position: absolute;
  }

  .about__wrapper
  {
    width: 480px;
    padding: 73px 0 49px;
  }
  .about__article
  {
    padding-bottom: 6px;
  }

  .about__article--higher
  {
    padding-bottom: 10px;
  }

  .article__text-block
  {
    width: 374px;
  }

  .article__text-block__paragraph
  {
    width: 100%;
    height: 73px;
  }

  .article__text-block__link
  {
    margin-left: 315px;
  }

  .news__wrapper
  {
    padding: 39px 0 86px;
  }

  .news__wrapper--sponsors
  {
    padding: 37px 0 35px;
    border-bottom: 1px solid #e6e6e6;
  }

  .news__testimonials
  {
    width: 480px;
    padding-bottom: 86px;
  }

  .news__testimonials__body__img
  {
    left: 20px;
    top: 49px;
  }

  .news__testimonials__body__text-block
  {
    width: 415px;
    margin-top: 31px;
    margin-right: 20px;
  }

  .news__testimonials__body__text-block__header {
    font-size: 30px;
    margin: 23px 0 0 38px;
    display: inline-block;
  }

  .news__testimonials__body__text-block__header--colored
  {
    margin-left: 2px;
  }

  .news__testimonials__body__text-block__paragraph
  {
    margin: 11px 18px 27px 38px;
    height: 173px;
    text-overflow: clip;
  }

  .slider__content__switcher--white {
    margin-top: 25px;
    left: 496px;
  }

  .blog
  {
    width: 480px;
  }

  .blog__header
  {
    margin-left: 83px;
  }

  .blog__body
  {
    margin-bottom: 16px;
  }

  .blog__body__post
  {
    margin-left: 83px;
  }

  .blog__body__post__text-block
  {
    width: 255px;
    height: 45px;
  }

  .blog__body__post--02 {
    margin-top: 18px;
  }

  .blog__body__post--03 {
    margin-top: 16px;
  }

  .blog__more-blog-posts {
    font-size: 19px;
    margin-left: 332px;
  }

  .sponsors__wrapper
  {
    margin-top: 37px;
    width: 425px;
  }

  .sponsors__link
  {
    height: 80px;
    width: 105px;
    margin-bottom: 0;
  }

  .sponsors__link--billabong {
    background-position: 26px 0px;
  }

  .sponsors__link--dc {
    background-position: -93px 0;
  }

  .sponsors__link--tree {
    background-position: -213px 0;
  }

  .sponsors__link--awsm {
    background-position: 11px -75px;
  }

  .sponsors__link--rvca {
    background-position: -219px -75px;
    margin-left: 14px;
  }

  .sponsors__link--vonzipper {
    background-position: -84px -74px;
  }

  .prefooter
  {
    display: block;
  }

  .footer__wrapper
  {
    width: 480px;
    margin: 0 auto;
    height: 200px;
  }

  .footer__wrapper__signature
  {
    margin-top: 16px;
  }

  .footer__wrapper__signature--bold
  {
    margin-left: 0px;
  }

  .nav__inline
  {
    display: block;
    padding: 44px 0 0;
  }

  .nav__list-item
  {
    display: inline-block;
  }

  .nav__list-item__link
  {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
    padding: 0 11px;
  }

  .header__nav__inline
  {
    display: none;
  }

}

@media screen and (min-width: 481px) {

  .header__name__wrapper
  {
    width: 768px;
    margin: 0 auto;
  }

  .header__name
  {
    text-align: initial;
    margin-left: 20px;
  }

  .header__nav
  {
    display: none;
  }

  .nav__inline__wrapper
  {
    width: 768px;
    margin: 0 auto;
  }

  .header__nav__inline
  {
    display: block;
    padding: 9px 0 0 16px;
    text-align: initial;
  }

  .header__nav__list-item
  {
    padding: 0 43px 0 0;
  }

  .nav__list-item__link
  {
    padding: 0 20px;
  }

  .header__nav__list-item__link
  {
    font-size: 24px;
    padding: 1px 3px;
  }

  .header__nav__list-item__link:hover
  {
    border-bottom: 2px solid #edbfff;
  }

  .slider
  {
    margin-top: 75px;
    padding-bottom: 154px;
  }

  .slider__content
  {
    width: 768px;
  }

  .slider__content__arrow
  {
    margin-top: 176px;
  }

  .slider__text-block
  {
    padding: 92px 422px 111px 0px;
    width: 290px;
  }

  .slider__text-block__header
  {
    text-indent: -22px;
    font-size: 48px;
    letter-spacing: -0.4px;
    line-height: 57px;
  }

  .slider__text-block__subheader
  {
    height: auto;
    font-size: 24px;
    letter-spacing: -0.01px;
    line-height: 35px;
    width: 270px;
    text-indent: initial;
    padding-left: 15px;
  }

  .slider__text-block__paragraph
  {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    height: 105px;
    color: #fff;
    text-align: left;
    padding-left: 14px;
    text-overflow: clip;
    word-break: break-all;
    overflow: hidden;
    line-height: 26px;
    letter-spacing: 0.1px;
  }

  .slider__photo-block
  {
    left: 447px;
    top: 221px;
  }

  .slider__photo
  {
    height: 100%;
  }

  .slider__content__switcher
  {
    margin-top: 36px;
    left: 822px;
  }

  .about__wrapper
  {
    width: 768px;
    padding: 73px 0 57px;
  }

  .about__article
  {
    padding-bottom: initial;
    width: 250px;
    float: left;
  }

  .about__article--higher
  {
    padding-bottom: initial;
    padding-right: 12px;
  }

  .article__text-block
  {
    width: 155px;
  }

  .article__text-block__paragraph
  {
    width: 100%;
    height: 142px;
  }

  .article__text-block__link
  {
    margin-left: 90px;
    line-height: 40px;
  }

  .news__wrapper
  {
    padding: 39px 0 28px;
    text-align: center;
  }

  .news__testimonials
  {
    width: 350px;
    display: inline-block;
    vertical-align: top;
  }

  .news__testimonials__body__img
  {
    left: 9px;
    top: 79px;
  }

  .news__testimonials__body__text-block
  {
    width: 313px;
    margin-top: 61px;
    margin-right: 4px;
    text-align: justify;
  }

  .news__testimonials__body__text-block__header
  {
    font-size: 24px;
    margin: 26px 0 0 39px;
    display: block;
  }

  .news__testimonials__body__text-block__header--colored
  {
    margin-left: 2px;
    margin: -5px 0 0 39px;
  }

  .news__testimonials__body__text-block__paragraph
  {
    margin: 6px 18px 39px 38px;
    height: 148px;
  }

  .slider__content__switcher--white
  {
    margin-top: 24px;
    left: 306px;
  }

  .blog
  {
    width: 350px;
    display: inline-block;
    margin-left: 45px;
  }

  .blog__header
  {
    margin-left: 7px;
    text-align: initial;
    margin-top: 86px;
  }

  .blog__body__post
  {
    margin-left: 7px;
  }

  .blog__body__post__text-block
  {
    width: 260px;
  }

  .blog__body__post__text-block__header
  {
    width: 100%;
  }

  .blog__body__post__text-block__paragraph
  {
    width: 255px;
    overflow: hidden;
  }

  .blog__more-blog-posts
  {
    margin-left: 230px;
    letter-spacing: -0.3px;
  }

  .news__wrapper--sponsors
  {
    padding: 26px 0 14px;
  }

  .sponsors__wrapper
  {
    margin: 0 auto;
    width: 768px;
  }

  .sponsors__link
  {
    margin: 0 20px 0 0;
  }

  .sponsors__link--billabong
  {
    background-position: 22px 0;
  }

  .sponsors__link--dc
  {
    background-position: -87px 0;
  }

  .sponsors__link--tree
  {
    background-position: -197px 0;
  }

  .sponsors__link--awsm
  {
    background-position: 27px -85px;
  }

  .sponsors__link--rvca
  {
    background-position: -219px -85px;
    margin-left: 10px;
  }

  .sponsors__link--vonzipper
  {
    background-position: -84px -84px;
    margin-right: 0;
    margin-left: 10px;
  }

  .prefooter__wrapper
  {
    width: 768px;
    margin: 0 auto;
    padding: 71px 0 66px;
  }

  .prefooter__article-block
  {
    display: inline-block;
    width: 215px;
    height: 205px;
    margin-left: 20px;
  }

  .prefooter__article-block--second
  {
    margin-left: 48px;
  }

  .prefooter__article-block--third
  {
    margin-left: 45px;
  }

  .prefooter__article-block__header
  {
    margin: 0;
  }

  .prefooter__article-block__paragraph
  {
    height: 165px;
    margin-left: 0;
  }

  .prefooter__article-block--pigbuller,
  .prefooter__article-block--recent-comments
  {
    display: none;
  }

  .footer__wrapper
  {
    width: 768px;
    text-align: justify;
  }

  .footer__wrapper__signature
  {
    float: right;
    margin-right: 11px;
  }

  .footer__wrapper__signature--bold
  {
    float: none;
  }

}

@media screen and (min-width: 769px) {

  .header__name__wrapper
  {
    width: 155px;
    display: inline-block;
  }

  .header__name
  {
    margin-left: 0;
  }

  .nav__inline__wrapper
  {
    display: inline-block;
    margin-top: 71px;
    margin-left: 38px;
    vertical-align: top;
  }

  .header__nav__inline
  {
    padding: 0 0 0 130px;
  }

  .header__nav__list-item--last
  {
    padding-right: 0;
  }

  .slider
  {
    margin-top: 147px;
    padding-bottom: 168px;
  }

  .slider__content__wrapper
  {
    position: relative;
  }

  .slider__content
  {
    width: 960px;
  }

  .slider__content__arrow
  {
    position: absolute;
    top: 0;
    left: 5%;
  }

  .slider__content__arrow--right
  {
    left: 93%;
  }

  .slider__text-block
  {
    padding: 79px 0 75px;
    width: 505px;
  }

  .slider__text-block__header
  {
    font-size: 60px;
    text-align: initial;
    text-indent: initial;
    letter-spacing: -0.6px;
  }

  .slider__text-block__subheader
  {
    letter-spacing: -0.01px;
    line-height: 35px;
    font-size: 32px;
    padding-left: 0;
    width: 405px;
  }

  .slider__text-block__paragraph
  {
    height: 150px;
    padding-left: 0;
    padding-top: 4px;
    line-height: 24px;
    letter-spacing: -0.5px;
    font-size: 18px;
    word-break: break-word;
    word-spacing: -0.5px;
  }

  .slider__photo-block
  {
    left: 809px;
    top: -17px;
  }

  .slider__content__switcher
  {
    margin-top: 92px;
    left: 894px;
  }

  .about__wrapper
  {
    width: 960px;
    padding-bottom: 50px;
  }

  .about__article
  {
    width: 285px;
  }

  .about__article--higher
  {
    padding-right: 52px;
    margin-left: 53px;
  }

  .article__icon
  {
    margin-left: 7px;
    margin-top: 5px;
  }

  .article__icon--bubble
  {
    background-position: -5px -40px;
  }

  .article__icon--note
  {
    background-position: -5px -80px;
  }

  .article__text-block
  {
    width: 223px;
  }

  .article__text-block__header
  {
    font-size: 30px;
    text-indent: 2px;
    padding-bottom: 4px;
  }

  .article__text-block__paragraph
  {
    height: 120px;
  }

  .article__text-block__link
  {
    font-size: 18px;
    float: right;
    margin: 0 7px 0 0;
    line-height: 57px;
  }

  .article__text-block__link--closer
  {
    margin-right: 2px;
  }

  .news__wrapper
  {
    text-align: initial;
    padding-bottom: 1px;
  }

  .news__wrapper__subwrapper
  {
    width: 960px;
    margin: 0 auto;
  }

  .news__wrapper--sponsors
  {
    padding: 26px 0 14px;
  }

  .news__testimonials
  {
    width: 455px;
  }

  .news__testimonials__body__img
  {
    left: -1px;
    top: 78px;
  }

  .news__testimonials__body__text-block
  {
    width: 429px;
  }

  .news__testimonials__body__text-block__header
  {
    font-size: 30px;
    margin: 24px 0 0 40px;
    display: inline-block;
  }

  .news__testimonials__body__text-block__header--colored
  {
    margin: -5px 0 0 2px;
  }

  .news__testimonials__body__text-block__paragraph
  {
    margin: 6px 41px 34px 38px;
    height: 170px;
  }

  .news__testimonials__body__background-tail
  {
    margin-left: 389px;
    display: inline-block;
  }

  .slider__content__switcher--white
  {
    margin-top: -3px;
    left: 247px;
  }

  .blog {
    width: 450px;
    margin-left: 45px;
  }

  .blog__body
  {
    margin-top: 12px;
    margin-bottom: 19px;
  }

  .blog__body__post__text-block
  {
    width: 370px;
  }

  .blog__body__post__text-block__paragraph
  {
    width: 100%;
  }

  .blog__body__post--03
  {
    margin-top: 13px;
  }

  .blog__more-blog-posts
  {
    display: none;
  }

  .blog__read-more-here
  {
    display: inline;
    color: #454545;
    font-size: 19px;
    text-decoration: none;
    margin-left: 353px;
    letter-spacing: -0.3px;
  }

  .sponsors__wrapper
  {
    width: 960px;
  }

  .sponsors__link--billabong
  {
    background-position: 13px 0;
    margin-left: 80px;
  }

  .sponsors__link--dc
  {
    background-position: -87px 0;
  }

  .sponsors__link--tree
  {
    background-position: -186px 0;
  }

  .sponsors__link--awsm
  {
    background-position: 48px -85px;
  }

  .sponsors__link--rvca
  {
    background-position: -219px -85px;
    margin-left: 41px;
  }

  .sponsors__link--vonzipper
  {
    background-position: -84px -84px;
    margin-right: 0;
    margin-left: 20px;
  }

  .prefooter__wrapper
  {
    width: 960px;
    padding-bottom: 91px;
  }

  .prefooter__article-block
  {
    display: none;
  }

  .prefooter__article-block--pigbuller
  {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 300px;
  }

  .prefooter__article-block--recent-comments
  {
    display: inline-block;
    margin: 0 0 0 36px;
    padding: 0;
    width: 300px;
  }

  .prefooter__article-block--third
  {
    display: inline-block;
    margin: 0 0 0 37px;
    padding: 0;
    width: 280px;
  }

  .prefooter__article-block__header
  {
    font-size: 30px;
  }

  .prefooter__article-block__header--pigbuller
  {
    padding-top: 17px;
    padding-bottom: 7px;
    font-size: 48px;
  }

  .prefooter__article-block__paragraph
  {
    height: 167px;
    margin-top: 5px;
  }

  .prefooter__article-block__paragraph--pigbuller
  {
    height: 123px;
  }

  .prefooter__article-block__paragraph--third
  {
    margin-right: 0;
  }

  .footer__wrapper
  {
    width: 960px;
    height: 114px;
  }

  .nav__inline--footer
  {
    display: inline-block;
    padding: 44px 0 0;
  }

  .nav__list-item--footer
  {
    display: inline-block;
    margin-right: 40px;
  }

  .nav__list-item__link--footer
  {
    padding: 0;
  }

  .footer__wrapper__signature
  {
    float: right;
    margin: 51px 0 0;
  }

  .footer__wrapper__signature--bold
  {
    margin: 0 0 0 4px;
  }

}