body {
	width: 600px;
	margin: 0 auto;
	background: #DFE4FF;
}

.container {		
	width: 500px;
	margin: 0 auto;
}

.heading, .motivation, .contacts, .feedback {
	background: white;
}

.heading .container {
	text-align: center;
	border-bottom: 3px solid black;
}

.heading h1 {
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}

.heading img {
	height:200px; text-align: center;
}

.heading p {
	text-align: left;
	padding-left: 20px;
}

.motivation .container {
border-bottom: 2px solid #c0c0c0;
}

.motivation h3 {
	margin: 0;
	padding: 20px;
}

.contacts .container {
	padding: 20px;
	border-bottom: 2px solid #c0c0c0;
}
.contacts p, a {
	padding: 0 0 5px 20px;
	margin: 0;
}

.contacts .container p:nth-child(2) {
	margin-bottom: 30px;
}

.feedback .container {
	padding: 20px 0 50px;
}

.feedback p {
	padding: 0 0 5px 20px;
	margin: 0;
}