* {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
}
body {
	background: #f9f9f9;
}
.container {
	width: 968px;
	margin: 0 auto;
	padding: 0 46px 60px;
	background: #fff;
	box-shadow: 0 -1px 10px #000;
}
/* Header */
.header {
	font-size: 0;
}
.header img {
	padding: 52px 0 41px;
}
.nav {
	background: #444343;
	background: linear-gradient(0deg, #444343, #5e5e5e);
}
.nav li {
	display: inline-block;
	list-style: none;
	text-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
	font-size: 15px;
	border: none;
	overflow: hidden;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}
.nav a {
	display: block;
	padding: 14px 30px 16px;
	color: #fff;
	text-decoration: none;
}
.nav li:hover {
	background: #2e2e2e;
	background: linear-gradient(0deg, #2e2e2e, #4a4a4a);
	border-color: #838383;
}
/* Main container with Left Menu and Content */
.mainContainer {
	margin-top: 40px;
}
.leftMenu {
	float: left;
	width: 25%;
	border: 1px solid #c8c8c8;
}
.leftMenu li {
	list-style: none;
	border-bottom: 1px solid #c8c8c8;
}
.leftMenu a {
	display: block;
}
.leftMenu li:last-child {
	border-bottom: none;
}
.leftMenu li a {
	padding: 15px;
	padding-left: 25px;
	text-decoration: none;
	font-size: 13px;
	color: #656363;
}
.leftMenu li:hover {
	padding-left: 35px;
	background-color: #f9f9f9;
}
.rightContent {
	float: right;
	width: 67%;
}
.rightContent .imgBox {
	text-align: center;
	border: 1px solid #c8c8c8;
}
.rightContent p {
	margin: 40px 25px 64px;
	color: #2c2c2c;
	font-size: 13px;
}
.clear {
	clear: both;
}
/*FOOTER*/
.footer {
	background: #e1e1e1;
	position: relative;
}
.footer li {
	display: inline-block;
	list-style: none;
	text-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
	font-size: 13px;
}
.footer li a {
	display: block;
	padding: 14px 30px 16px;
}
.footer li:hover {
	text-decoration: underline;
}
.footer p {
	position: absolute;
	top: 14px;
	right: 26px;
	text-shadow: none;
	font-size: 13px;
}
.footer a {
	color: #2c2c2c;
	text-decoration: none;
}
